span{
    color: green;
}
.container_cart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
}
.product_cart img{
    width: 120px;
}
.product_cart{
    width: 31%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: rgb(201, 226, 250);
    border-radius: 10px;
    margin: 30px 10px 0px 0px;
}
.cart{
    width: 100%;
}
.btn_to_buy{
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    color: rgba(0, 42, 255, 0.95);
    font-weight: bold;
    text-transform: uppercase;
}